<ng-template #divLoading>
    <mat-grid-list cols="1">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template> 

  
  <div *ngIf="personaje" class = "grid">
      <mat-card class="col-12 sm:col-6">
        <mat-card-header>
          <mat-card-title> {{  personaje.character }}</mat-card-title>
          <mat-card-subtitle> {{ personaje.quote }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="personaje | personajeImage" [alt]="personaje.character" mat-card-image width="50%"/>
      </mat-card>
      <mat-card class="col-12 sm:col-6">
        <mat-card-header>
          <mat-card-title>Información</mat-card-title>
          <mat-card-subtitle> {{ personaje.character }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>{{ personaje.appearsIn }}</mat-list-item>
            <mat-list-item>{{ personaje.voiceActor }}</mat-list-item>
            <mat-list-item>{{ personaje.gender }}</mat-list-item>
            <mat-list-item>{{ personaje.about }}</mat-list-item>
            <mat-list-item>{{ personaje.species }}</mat-list-item>
           
          </mat-list>
          <button
            mat-button
            (click)="goList()"
          >
          Regresar
        </button>
        </mat-card-content>
      </mat-card>
    </div>
    
