<div class="flex flex-column centrar">
   <h2> <span class="text-lg mb-4">Registro</span></h2><br>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Usuario">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Nombre">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña">
    </mat-form-field><br>
    <button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
      Crear cuenta
    </button>
  </div>
  <div class="flex justify-content-end mt-5 centrar1">
    <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
  </div>